.actions a {
        margin: 10px;
}

.paging .prev {
        margin: 10px;
}

.paging .next {
        margin: 10px;
}

.paging .numbers {
        text-align: center;
}

.actions li {
        display: inline-block;
}

.datetime select, .date select {
    width: auto !important;
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

dl {
    line-height: 2em;
    width: 60%;
    margin-bottom: 0em !important;
    padding: 0px;
}
dl dd:nth-child(4n+2),
dl dt:nth-child(4n+1) {
    background: #f4f4f4;
}

dt {
    font-weight: bold;
    vertical-align: top;
    padding: 0px;
    margin-bottom: 0em !important;
}

dd {
    margin-left: 20em;
    margin-top: -2em;
    vertical-align: top;
    padding: 0px;
    margin-bottom: 0em !important;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: center;
}

td,th {
    font-size: 0.8em !important;
    vertical-align: middle !important;
    border: 1px solid #888 !important;
}

th {
    border: 1px solid #888 !important;
}

table {
    border: 1px solid #888 !important;
}

